@import '../../variables.scss';

.container {
  height: 100%;
  width: 100%;
  margin-top: 2.5rem;
}

.wrapper {
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
}

.titles {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.titles>h5 {
  color: $primary;
  font-size: 18px;
  font-weight: 500;
}

.titles>h2 {
  color: $primary;
  font-size: 28px;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper>.options {
  width: 70%;
  backdrop-filter: blur(8px);
  background-color: $bg;
  padding: 1rem 0.75rem;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 20px;
}

.options>select {
  height: 60px;
  min-width: 160px;
  max-width: 210px;
  outline: none;
  padding: 0.5rem 1.1rem;
  background-color: $bg;
  color: $primary;
  border: 1px solid $primary;
  border-radius: 6px;
  font-size: 22px;
  cursor: pointer;
  transition: background 300ms ease;
}

.options>select:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.options>select:first-child {
  color: $primary;
}

.options>.rangeInput {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchIcon {
  padding: 0.6rem;
  width: fit-content;
  border-radius: 6px;
  background: $primary;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  border: $primary solid 2px;
  cursor: pointer;
  transition: background ease 300ms;
}

.searchIcon:hover {
  background-color: rgba(255, 255, 255, 0.625);
  color: $primary;
}

.showAll {
  margin: 30px 0 0 0;
  padding: 0.6rem;
  width: fit-content;
  border-radius: 6px;
  background: $primary;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  border: $primary solid 2px;
  cursor: pointer;
  transition: background ease 300ms;
}

.showAll:hover {
  background-color: rgba(255, 255, 255, 0.625);
  color: $primary;
}

/* individual property css */
.properties {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.properties > .property {
  width: 350px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: $primary;
  box-shadow: 0 4px 8px 0 $secodarybg, 0 6px 20px 0 $secodarybg;
  border: 1px $secodarybg solid;
}

.properties>.property>.imgContainer {
  display: block;
  height: 350px;
  max-width: 350px;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  cursor: pointer;
}

.properties>.property>.imgContainer>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 150ms all;
}

.properties>.property>.imgContainer>img:hover {
  scale: 1.035;
}

.properties .owner {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.property>.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.property>.details>.priceAndOwner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $primary;
  align-items: center;
}

.priceAndOwner > .price{
  font-weight: bold;
  font-size: 22px;
}

.priceAndOwner > .propertyTitle{
  font-weight: bold;
  font-size: 22px;
}
.moreDetails {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 0.5rem;
}

.moreDetails>span {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-right: 1px solid $primary;
  color: $secodary;
  padding-right: 1.25rem;
}

.moreDetails>span:last-child {
  border: none;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
  font-size: 18px;
  color: $secodary;
}

.noProperty {
  text-align: center;
  margin-top: 5rem;
  font-size: 36px;
  color: $primary;
  min-height: 60vh;
}

@media only screen and (max-width: 992px) {
  .wrapper>.options {
    width: 90%;
    padding: 0.75rem 1rem;
    margin: 0 auto;
  }

  .properties {
    justify-content: center;
  }
}